body{
    display:flex;
    justify-content:center;
}

#frame{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
    height: 35em;
    margin:1em;
    border-style:outset;
    border-width: 1em;
    border-right-color: red;
    border-bottom-color: red;
    border-top-color: lightcoral;
    border-left-color: lightcoral;
    background-color: red;
}

.lettering{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height: 6.5em;
    width:45em;
}

p{
    margin:1em;
    font-size:20px;
    color: darkgoldenrod;
}

h1{
    font-size:3em;
}

p, h1{
    color:darkgoldenrod;
    font-style:italic;
}

.grid {
    position:relative;
    height: fit-content;
    display:inline-grid;
    border: 2px solid black;
    border-radius: 4px;
}

div div div {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 17;
}

div div div div{
    position:relative;
    box-sizing:border-box;
    width: 2em;
    height: 1.375em;
    background-color:lightyellow;
}

.filled{
    position:relative;
    box-sizing:border-box;
    width: 2em;
    height: 1.375em;
    background-color:black;
}

.resetAndDials{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height: 6.5em;
    width:45em;
}

.dial{
    width: 6em;
    height: 6em;
    border-radius:50%;
    background-color:white;
    border: 2px dotted;
}

button {
    font-size: 2em;
    width: 15em;
    height: 2em;
    margin: 0 0.5em;
    cursor: pointer;
    background-color: red;
    font-family:serif;
    font-style: italic;
    color: darkgoldenrod;
    border: 2px outset darkgoldenrod;
    box-shadow: 0 3px darkgoldenrod;
}

button:hover{
    background-color: hsl(0, 99%, 45%);
}

button:focus{
    outline:none;
}

button:active {
    background-color: hsl(0, 99%, 45%);
    box-shadow: 0 1px darkgoldenrod;
    transform: translateY(4px);
}
